body
{
    font-family: Arial;
    margin: 0;
    padding: 0;
}

.header
{
    background-color: #119744;
    color: white;
    padding: 1px 0;
    padding-left: 10px;
}

.nav
{
    color: #555555;
}

.contenedor-nav
{
    display: flex; /* Utiliza flexbox para los elementos internos */
    align-items: center; /* Centra verticalmente los elementos */
    justify-content: center; /* Centra horizontalmente los elementos */

    width: 100%;
    background-color: white;
    z-index: 1000;
    padding: 10px;
    transition: top 0.3s;
}

.fijo {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000; /* Ajusta según sea necesario */
    /* Agrega aquí otros estilos que desees para la barra de navegación fija */
}

.logo-nav
{
    width: 50px; /* Ajusta el tamaño de la imagen según lo deseado */
    height: 50px; /* Aumenta el tamaño de la imagen */
    margin-right: 10px; /* Agrega espacio entre la imagen y el campo de búsqueda */
    margin-top: 10px;
}

.text-nav
{
    margin-bottom: 10px;
    font-style: italic;
    font-family: impact;
    font-size: 115%;
}

.espacio-nav
{
    width: 80%;
}

#buscador
{
    margin-right: 10px; /* Agrega espacio entre la imagen y el campo de búsqueda */
    margin-left: 10px;
    width: 500px; /* Ancho deseado para el input */
    height: 40px; /* Alto deseado para el input */
    padding: 10px; /* Espacio interno alrededor del texto */
    background-color: lightgray; /* Color de fondo */
    border: 2px solid transparent; /* Borde transparente por defecto */
    border-radius: 5px; /* Agrega bordes redondeados */
    box-sizing: border-box; /* Incluye el relleno y el borde en el ancho y alto total */
    transition: border-color 0.3s; /* Agrega una transición suave para el cambio de color del borde */
    margin-top: 10px;
}

#buscador:focus {
    outline-color: #119744; /* Cambia el color del contorno al seleccionar el input */
}

#bb
{
    width: 20px; /* Ajusta el tamaño del botón de búsqueda según lo deseado */
    height: auto; /* Mantiene la proporción del botón de búsqueda */
    margin-top: 10px;
    margin-right: 10px;
}

.contenedor-menu
{
    display: flex; /* Utiliza flexbox para los elementos internos */
    justify-content: center; /* Centra horizontalmente los elementos */
    font-weight: bold;
}

.contenedor-menu ul
{
    list-style: none; /* Elimina los puntos de la lista */
    padding: 0; /* Elimina el relleno predeterminado de la lista */
    margin: 0; /* Elimina el margen predeterminado de la lista */
    display: flex; /* Utiliza flexbox para los elementos de la lista */
}

.contenedor-menu ul li
{
    margin-right: 30px; /* Agrega espacio entre cada elemento de la lista */
}

.contenedor-menu ul li:last-child
{
    margin-right: 0; /* Elimina el espacio después del último elemento de la lista */
}

.contenedor-menu ul li a
{
    text-decoration: none; /* Elimina el subrayado de los enlaces */
    color: #555555; /* Color predeterminado del texto */
    transition: color 0.3s; /* Agrega una transición suave para el cambio de color */
}

.contenedor-menu ul li a:hover
{
    color: #119744; /* Cambia el color del texto al pasar el cursor sobre el */
    font-weight: bold;
}

.main
{
    background-color: #ebebeb;
}

h1
{
    text-align: center;
}
/* ------------------------------------------------------------------------------------------------------------- */

.carousel {
    position: relative;
    width: 100%;
    overflow: hidden;
}

.slides {
    display: flex;
    width: 300%;
    height: 600px;
}

.slide {
    flex: 0 0 auto;
    width: 33.33%;
    transition: transform 0.5s ease;
    height: 100%;
    overflow: hidden;
}

img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

button.prev,
button.next {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: white; /* Color de fondo verde */
    color: #119744; /* Color del texto blanco */
    border: none;
    cursor: pointer;
    padding: 10px;
    border-radius: 50%; /* Botones redondeados */
}

button.prev {
    left: 10px; /* Posición del botón previo */
}

button.next {
    right: 10px; /* Posición del botón siguiente */
}

button.prev:hover,
button.next:hover {
    background-color: #119744; /* Cambia el color de fondo al pasar el mouse a blanco */
    color: white; /* Cambia el color del texto al pasar el mouse a verde */
}


/* ------------------------------------------------------------------------------------------------------------- */
.Productos_nuevos
{
    margin: 20px auto; /* Centra el div horizontalmente con margen en la parte superior e inferior */
    width: 90%; /* Ancho del div */
}

.Tabla
{
    border-collapse: separate; /* Bbordes separado */
    border-spacing: 10px; /* Espacio entre las celdas */
    border-radius: 10px; /* Bordes redondeados */
    width: 100%; /* Ancho de la tabla */
}

.Tabla td
{
    padding: 20px; /* Espacio interno de las celdas */
    background-color: white; /* Color de fondo azul */
    border: 2px solid white; /* Borde de las celdas */
    border-radius: 10px; /* Bordes redondeados */
    text-align: center; /* Centra el texto horizontalmente */
    transition: transform 0.2s, border-color 0.2s;
    height: 250px; /* Altura fija de las celdas */
    vertical-align: top; /* Alinea el contenido al principio de la celda */
}

.Tabla td:hover {
    border-color: #199744; /* Color del borde cuando se hace hover */
    transform: translateY(-5px); /* Hace que la celda "salte" hacia arriba */
}

.img_tabla
{
    width: 100px; /* Establece el ancho deseado para la imagen */
    height: 100px; /* Mantiene la proporción de la imagen */
}

.vermas {
    display: inline-block; /* Necesario para aplicar padding y tamaño */
    border-radius: 5px; /* Hace que los bordes sean redondeados */
    background-color: #ebebeb; /* Color de fondo del botón */
    color: #555555; /* Color del texto del botón */
    border: 2px solid #ebebeb; /* Define el grosor y el color del borde */
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s, border-color 0.3s; /* Agrega una transición suave al cambiar los estilos */
    width: 100%; /* Hace que el enlace tenga 100% de ancho del contenedor */
    height: 35px; /* Altura del enlace */
    line-height: 35px; /* Centra el texto verticalmente */
    text-align: center; /* Centra el texto horizontalmente */
    text-decoration: none; /* Elimina el subrayado del enlace */
    box-sizing: border-box; /* Incluye el padding y el borde en el ancho y alto */
}

.vermas:hover {
    background-color: #119744;
    color: #fff;
    border-color: #119744;/* Cambia el color del borde al pasar el cursor */
}

.Tabla2
{
    border-collapse: separate;
    border-spacing: 10px;
    border-radius: 10px;
    width: 100%;
}

.Tabla2 td
{
    padding: 20px;
    background-color: white;
    border: 2px solid white;
    border-radius: 10px;
    text-align: left;
    transition: transform 0.2s, border-color 0.2s;
    height: 200px;
    vertical-align: top;
}


.Tabla2 td:hover
{
    border-color: #199744;
    transform: translateY(-5px);
}

.celda_contenido
{
    display: flex;
    align-items: center;
    height: 100%; /* Asegura que el contenido ocupe toda la altura de la celda */
}

.img_tabla2
{
    width: 100px;
    height: 100px;
    margin-right: 20px;
}

.info_producto
{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.nombre_producto
{
    font-size: 18px;
    font-weight: bold;
}

.clave_producto, .descripcion_producto
{
    font-size: 14px;
    margin: 5px 0;
}

.vermas2
{
    border-radius: 5px;
    background-color: #ebebeb;
    color: #555555;
    border: 2px solid #ebebeb;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s, border-color 0.3s;
    width: 200px;
    height: 35px;
    margin-top: 10px;
}

.vermas2:hover
{
    background-color: #119744;
    color: #fff;
    border-color: #119744;
}

.Directorio_vir
{
    width: 89%; /* Ancho del 60% de la página */
    margin: 0 auto; /* Margen automático para centrar horizontalmente */
    border-radius: 10px; /* Bordes redondeados */
    background-color: lightblue; /* Color de fondo */
    padding: 20px; /* Espacio interno */
    box-sizing: border-box; /* Incluye el relleno y el borde en el ancho total */
    display: flex; /* Utiliza flexbox para los elementos internos */
    align-items: center; /* Centra verticalmente los elementos */
    justify-content: center; /* Centra horizontalmente los elementos */
}

.footer
{
    background-color: #353535;
    color: white;
}

.container
{
    display: flex;
    justify-content: space-between;
    padding: 30px 0;
}

.footer-column
{
    flex: 1;
    padding: 0 20px;
}

.footer-column h4
{
    margin-bottom: 20px;
}

.footer-column ul
{
    padding: 0;
    list-style: none;
}

.footer-column ul li
{
    margin-bottom: 10px;
}

.footer-column ul li a
{
    color: white;
    text-decoration: none;
}

.footer-column p
{
    margin: 0;
    cursor: pointer;
}

.footer-bottom
{
    background-color: #1d1d1d;
    padding: 20px 0;
    text-align: center;
}

.certificacion{
    height:50px;
    width: auto;
    margin-right: 50px;
}

.container-card {
    display: flex;
    justify-content: space-between;
    margin: 10px 77px;
}

.card {
    width: calc(33.33% - 10px);
    background-color: #f0f0f0;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s;
}

.card:hover {
    transform: translateY(-5px);
}

.card-img {
    width: 100%;
    height: 200px;
    object-fit: cover;
}

.card-content {
    padding: 20px;
}

.card-title {
    margin: 0;
    font-size: 18px;
}

.card-text {
    margin: 10px 0;
    font-size: 16px;
}

.btn {
    display: inline-block;
    padding: 10px 20px;
    background-color: #119744;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s;
}

.btn:hover {
    background-color: white;
    color: #119744;
}

/* ------------------------------------------------------------------------------------------------------------- */

.suggestions {
            border: 1px solid #ccc;
            max-height: 150px;
            overflow-y: auto;
            background-color: white;
            position: absolute;
            z-index: 1000;
            width: 200px;
        }
        .suggestion-item {
            padding: 10px;
            cursor: pointer;
        }
        .suggestion-item:hover {
            background-color: #ddd;
        }
        
        