.main{
    background-color: #ebebeb;
}



.vermas {
            display: inline-block; /* Necesario para aplicar padding y tamaño */
            border-radius: 5px; /* Hace que los bordes sean redondeados */
            background-color: #ebebeb; /* Color de fondo del botón */
            color: #555555; /* Color del texto del botón */
            border: 2px solid #ebebeb; /* Define el grosor y el color del borde */
            cursor: pointer;
            transition: background-color 0.3s, color 0.3s, border-color 0.3s; /* Agrega una transición suave al cambiar los estilos */
            width: 100%; /* Hace que el enlace tenga 100% de ancho del contenedor */
            height: 35px; /* Altura del enlace */
            line-height: 35px; /* Centra el texto verticalmente */
            text-align: center; /* Centra el texto horizontalmente */
            text-decoration: none; /* Elimina el subrayado del enlace */
            box-sizing: border-box; /* Incluye el padding y el borde en el ancho y alto */
        }

        .vermas:hover {
            background-color: #dcdcdc; /* Cambia el color de fondo al pasar el cursor */
            color: #333333; /* Cambia el color del texto al pasar el cursor */
            border-color: #dcdcdc; /* Cambia el color del borde al pasar el cursor */
        }

.certificacion{
    height:50px;
    width: auto;
    margin-right: 50px;
}

.img_tabla
{
    width: 100px; /* Establece el ancho deseado para la imagen */
    height: 100px; /* Mantiene la proporción de la imagen */
}